html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: url(../images/cursor.png), auto;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #2b2b2b;
}

main {
  height: 100%;
}

button, input, textarea {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, p, ul, ol {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 0;
  text-align: left;
  cursor: pointer;
}

td {
  text-align: center;
  padding: 0;
}

.container-loader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container-loader__loader {
  display: block;
  width: 256px;
  height: 256px;
  content: "";
  background-image: url("/images/led_spinner.svg");
  background-size: 256px 256px;
}
.container-loader__load-text {
  color: white;
  font-family: "Play" sans-serif;
  font-size: 22px;
}

.container-search {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-search__container-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  margin-top: 5px;
}
.container-search__container-input__input {
  width: 900px;
  font-size: 24px;
  font-family: "Play", sans-serif;
  padding: 4px 8px 4px 8px;
  border: #0057BB 3px solid;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}
.container-search__container-input__input:focus {
  outline: 0;
  box-shadow: 0px 0px 10px 4px #0057BB;
}
.container-search__container-input__input:hover {
  cursor: url(../images/pointer.png), auto;
}
.container-search__container-input__led-spinner {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/led_spinner.svg);
  background-size: 48px 48px;
}
.container-search__container-input .tableButton {
  margin-left: 8px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0;
}
.container-search__container-input .tableButton svg {
  width: 100%;
  height: 100%;
}
.container-search__container-input .tableButton svg:hover {
  cursor: url(../images/pointer.png), auto;
}
.container-search__container-input .tableButton:hover,
.container-search__container-input .tableButton *:hover {
  cursor: url(../images/pointer.png), auto;
}
.container-search__container-input__previousPage svg {
  transform: rotate(90deg);
  filter: drop-shadow(0px 0px 3px #57daf1);
}
.container-search__container-input__previousPage svg path {
  fill: #57daf1;
}
.container-search__container-input__nextPage svg {
  transform: rotate(-90deg);
  filter: drop-shadow(0px 0px 3px #f7417e);
}
.container-search__container-input__nextPage svg path {
  fill: #f7417e;
}
.container-search__container-input__counter {
  margin-left: 8px;
  color: white;
  font-family: "Play" sans-serif;
  font-size: 22px;
}
.container-search__table-container {
  flex-grow: 1;
}

.table-json {
  color: white;
  font-family: "Play", sans-serif;
  -moz-user-select: text;
  -khtml-user-select: text;
  user-select: text;
}
.table-json *,
.table-json *::after,
.table-json *::before {
  -moz-user-select: text;
  -khtml-user-select: text;
  user-select: text;
}
.table-json thead {
  font-size: 16px;
}
.table-json th,
.table-json td {
  border-top: 2px solid #4b4b4b;
  text-align: center;
  padding: 4px 8px 4px 8px;
}
.table-json tbody th,
.table-json tbody td {
  font-size: 14px;
}
.table-json__code {
  width: 52px;
  max-width: 52px;
  border-right: 2px solid #4b4b4b;
}
.table-json__container-id {
  width: 120px;
  max-width: 120px;
  border-right: 2px solid #4b4b4b;
}
.table-json__key {
  width: 500px;
  max-width: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-right: 2px solid #4b4b4b;
}
.table-json__game-text {
  width: 900px;
  max-width: 900px;
}
.table-json .table-json__container-btn {
  border: none;
}
.table-json .table-json__container-btn__button {
  font-family: "Play", sans-serif;
  font-weight: 700;
  user-select: none;
  color: #0057BB;
  background-color: #fff;
  border: 2px solid #0057BB;
  border-radius: 4px;
  padding: 4px 16px 4px 16px;
}
.table-json .table-json__container-btn__button:hover {
  cursor: url(../images/pointer.png), auto;
  color: #e2ecff;
  background-image: url(../images/btn2.svg);
  box-shadow: 0px 0px 8px 2px #0057BB;
}
.table-json__head {
  user-select: none;
  transition: background-color 0.5s ease;
}
.table-json__head:hover {
  cursor: url(../images/pointer.png), auto;
}
.table-json__head__select {
  background-color: #57daf1;
}
.table-json .table-json__head {
  border: none;
  border-bottom: 2px solid #e0e0e0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.table-json thead .table-json__code, .table-json .table-json__container-id, .table-json .table-json__key {
  border-right: 2px solid #4b4b4b;
}

.containter-information-key {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: #0057BB;
  font-family: "Play", sans-serif;
  border: 2px #0057BB solid;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 4px #0057BB;
  padding: 32px 24px 32px 24px;
  transition: 0.5s ease;
}
.containter-information-key__button {
  font-weight: 700;
  user-select: none;
  color: #0057BB;
  background-color: #fff;
  border: 2px solid #0057BB;
  border-radius: 4px;
  width: 72px;
  height: 36px;
  padding: 4px 16px 4px 16px;
  margin-top: 24px;
}
.containter-information-key__button:hover {
  cursor: url(../images/pointer.png), auto;
  color: #e2ecff;
  background-image: url(../images/btn2.svg);
  box-shadow: 0px 0px 8px 2px #0057BB;
}
.containter-information-key__container-input {
  position: relative;
  margin-top: 36px;
}
.containter-information-key__container-input__label {
  position: absolute;
  top: calc(-100% + 8px);
  left: 4px;
}
.containter-information-key__container-input__input {
  font-size: 18px;
  outline: none;
  border: 2px #0057BB solid;
  border-radius: 4px;
}

.behindScreen {
  transform: translate(0px, 900px);
}

.container-filter {
  position: relative;
  display: flex;
  align-items: center;
  width: 28px;
  height: 41px;
  margin: 0;
  margin-right: 16px;
}
.container-filter__button {
  padding: 0;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: transparent;
  outline: none;
  border: none;
}
.container-filter__button * {
  transition: 0.3s ease;
}
.container-filter__button:hover * {
  cursor: url(../images/pointer.png), auto;
  filter: drop-shadow(0px 0px 4px aquamarine);
}
.container-filter__button svg {
  width: 100%;
  height: 100%;
  fill: aquamarine;
}
.container-filter__content {
  position: absolute;
  top: calc(100% + 8px);
  background-color: #2b2b2b;
  border: 2px solid #535353;
  border-radius: 8px;
  overflow: hidden;
  height: 120px;
  transition: 1s height ease, 1s border-width ease;
}
.container-filter__content__select {
  display: flex;
  flex-direction: column;
}
.container-filter__content__select__label {
  font-family: "Play", sans-serif;
  font-size: 18px;
  white-space: nowrap;
  padding: 4px 16px 4px 16px;
  color: #57daf1;
  transition: 0.5s ease;
}
.container-filter__content__select__label:hover {
  background-color: #d6d6d6;
  color: #008ea7;
  cursor: url(../images/pointer.png), auto;
}
.container-filter__content__select__radio {
  display: none;
}
.container-filter__content__select__radio:checked + .container-filter__content__select__label {
  background-color: white;
}
.container-filter .hide-content {
  height: 0px;
  border-width: 0px;
}

.hide {
  display: none;
}