html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: url(/images/cursor.png), auto;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #2b2b2b;
}

main {
  height: 100%;
}

button, input, textarea {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, p, ul, ol {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 0;
  text-align: left;
  cursor: pointer;
}

td {
  text-align: center;
  padding: 0;
}

.container-file {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-file__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.container-file__label {
  padding: 16px 32px 16px 32px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 48px;
  border-radius: 8px;
  background-color: #fff;
  color: #0057BB;
  transition: font-size 0.3s ease;
}
.container-file__label:hover {
  cursor: url(/images/pointer.png), auto;
  font-size: 52px;
  color: #e2ecff;
  background-image: url(/images/btn2.svg);
  border: solid #0057BB 3px;
  box-shadow: 0px 0px 10px 4px #0057BB;
}

.container-search {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-search__container-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  margin-top: 10px;
}
.container-search__container-input__input {
  width: 900px;
  font-size: 24px;
  font-family: "Play", sans-serif;
  padding: 4px 8px 4px 8px;
  border: #0057BB 3px solid;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}
.container-search__container-input__input:focus {
  outline: 0;
  box-shadow: 0px 0px 10px 4px #0057BB;
}
.container-search__container-input__input:hover {
  cursor: url(/images/pointer.png), auto;
}
.container-search__container-input__led-spinner {
  display: block;
  width: 62px;
  height: 62px;
  background-image: url(/images/led_spinner.svg);
  background-size: 62px 62px;
}
.container-search__container-input .tableButton {
  margin-left: 8px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 0;
}
.container-search__container-input .tableButton svg {
  width: 100%;
  height: 100%;
}
.container-search__container-input .tableButton svg:hover {
  cursor: url(/images/pointer.png), auto;
}
.container-search__container-input .tableButton:hover, .container-search__container-input .tableButton *:hover {
  cursor: url(/images/pointer.png), auto;
}
.container-search__container-input__previousPage svg {
  transform: rotate(90deg);
  filter: drop-shadow(0px 0px 3px #57daf1);
}
.container-search__container-input__previousPage svg path {
  fill: #57daf1;
}
.container-search__container-input__nextPage svg {
  transform: rotate(-90deg);
  filter: drop-shadow(0px 0px 3px #f7417e);
}
.container-search__container-input__nextPage svg path {
  fill: #f7417e;
}
.container-search__container-input__counter {
  margin-left: 8px;
  color: white;
  font-family: "Play" sans-serif;
  font-size: 24px;
}
.container-search__table-container {
  flex-grow: 1;
}

.table-json {
  color: white;
  border: 2px solid rgb(221, 39, 39);
  font-family: "Play", sans-serif;
  -moz-user-select: text;
  -khtml-user-select: text;
  user-select: text;
}
.table-json *, .table-json *::after, .table-json *::before {
  -moz-user-select: text;
  -khtml-user-select: text;
  user-select: text;
}
.table-json thead {
  font-size: 26px;
}
.table-json th,
.table-json td {
  border: 2px solid rgb(221, 39, 39);
  text-align: center;
  padding: 4px 8px 4px 8px;
}
.table-json tbody th, .table-json tbody td {
  font-size: 20px;
}
.table-json__container-id {
  width: 170px;
  max-width: 170px;
}
.table-json__key {
  width: 600px;
  max-width: 600px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-json__game-text {
  width: 1200px;
  max-width: 1200px;
}

.hide {
  display: none;
}