.common-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Play", sans-serif;
    padding: 24px 16px 24px 16px;

    border-left: 2px solid $color-border-backrgound;
    max-width: 300px;
    transition: .5s ease;

    h3 {
        font-size: 18px;
        margin-bottom: 12px;
    }

    &__no-exist {
        color: #fa8787;
    }

    &__characters {
        font-size: 14px;
        font-weight: 700;
    }

    &__code {
        padding-bottom: 8px;
        border-bottom: 2px solid $color-border-backrgound;
    }

    &__list {
        flex-grow: 1;
        margin-top: 8px;
        padding: 0px 4px 0px 4px;
    }

    &__element {
        display: flex;
        justify-content: space-between;
        width: 200px;

        padding: 8px 4px 8px 4px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &:not(:first-child) {
            border-top: 2px solid $color-border-backrgound;
        }

        &__button {
            position: relative;
            background-color: transparent;
            border: none;

            width: 16px;
            height: 16px;

            &__line {
                position: absolute;
                display: block;
                left: 0;
                bottom: calc(50% - 2px);
                ;
                content: '';
                width: 16px;
                height: 4px;
                border-radius: 2px;
                background-color: $color-border-backrgound;

                pointer-events: none;
                transition: .5s ease;
            }

            &:hover {
                cursor: $cursor_pointer;
            }
            &:hover &__line {
                background-color: $color-delete-button-hv;
            }

            & span:first-child {
                transform: rotate(-45deg);
            }

            & span:last-child {
                transform: rotate(45deg);
            }
        }
        
        &__text {
            cursor: $cursor_pointer;
        }
    }
}