.common-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Play", sans-serif;
    padding: 32px 24px 32px 24px;

    border-left: 2px solid $color-border-backrgound;
    max-width: 300px;
    transition: .5s ease;

    h3 {
        font-size: 18px;
        margin-bottom: 12px;
    }

    &__no-exist {
        color: #fa8787;
    }

    &__characters {
        font-size: 14px;
        font-weight: 700;
    }

    &__code {
        padding-bottom: 8px;
        border-bottom: 2px solid $color-border-backrgound;
    }

    &__list {
        flex-grow: 1;
        margin-top: 8px;
        padding: 0px 4px 0px 4px;
    }

    &__element {
        display: flex;
        justify-content: space-between;
        width: 200px;

        padding: 8px 4px 8px 4px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &:not(:first-child) {
            border-top: 2px solid $color-border-backrgound;
        }

        &__buttons-box {
            &__button {
                position: relative;
                background-color: transparent;
                border: none;
    
                width: 16px;
                height: 16px;
            }

            &__button-delete {
                &__line {
                    position: absolute;
                    display: block;
                    left: 0;
                    bottom: calc(50% - 2px);
                    ;
                    content: '';
                    width: 16px;
                    height: 4px;
                    border-radius: 2px;
                    background-color: $color-border-backrgound;
    
                    pointer-events: none;
                    transition: .5s ease;
                }
    
                &:hover {
                    cursor: $cursor_pointer;
                }
                &:hover &__line {
                    background-color: $color-button-common-names-hv;
                }

                &:hover &__line:first-child {
                    transform: rotate(45deg);
                }
                
                &:hover &__line:last-child {
                    transform: rotate(-45deg);
                }
    
                &__line:first-child {
                    transform: rotate(-45deg);
                }
    
                &__line:last-child {
                    transform: rotate(45deg);
                }
            }

            &__button-insert {
                width: 24px;
                height: 16px;
                padding: 0;

                margin-right: 4px;

                &__icon {
                    display: block;
                    content: '';
                    position: relative;
                    width: 24px;
                    height: 16px;
                    left: 0;
                    top: 0;
                    transition: .5s;

                    pointer-events: none;
                    
                    &__visual {
                        display: block;
                        position: absolute;
                        content: '';
                        background-color: $color-button-common-names;
                        transition: .5s;

                        pointer-events: none;
                    }
                    &__line {
                        width: 16px;
                        height: 4px;

                        left: 2px;
                        top: calc(50% - 2px);
                    }

                    &__arrow {
                        position: relative;
                        display: block;
                        height: 12px;
                        width: 12px;
                        left: 2px;
                        top: calc(50% - 6px);

                        transform: rotate(-45deg);


                        &--right {
                            width: 12px;
                            height: 4px;
                        }
                        &--left {
                            width: 12px;
                            height: 4px;

                            transform: rotate(90deg);
                            right: calc(50% - 2px);
                            top: calc(50% - 2px);
                        }
                    }
                }
                
                &:hover {
                    cursor: $cursor_pointer;
                }

                &:hover &__icon {
                    &__visual {
                        background-color: $color-button-common-names-hv;
                    }
                    
                    animation: animation-insert-button .4s 3;
                }
            }
        }
        
        &__text {
            cursor: $cursor_pointer;
        }
    }
}

@keyframes animation-insert-button {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(125%);
    }
    100% {
        transform: scale(100%);
    }
}