.container-filter {
    position: relative;
    display: flex;
    align-items: center;
    width: 28px;
    height: 41px;
    margin: 0;

    margin-right: 16px;

    &__button {
        padding: 0;
        margin: 0 auto;
        
        width: 24px;
        height: 24px;

        background-color: transparent;
        outline: none;
        border: none;
        * {
            transition: .3s ease;
        }
        &:hover * {
            cursor: $cursor_pointer;
            filter: drop-shadow(0px 0px 4px aquamarine);
        }
        svg {
            width: 100%;
            height: 100%;
            fill: aquamarine;
        }
    }

    &__content {
        position: absolute;
        top: calc(100% + 8px);

        background-color: #2b2b2b;
        border: 2px solid #535353;

        border-radius: 8px;
        overflow: hidden;

        height: 120px;
        transition: 1s height ease, 1s border-width ease;

        &__select {
            display: flex;
            flex-direction: column;

            &__label {
                font-family: "Play", sans-serif;
                font-size: 18px;
                white-space: nowrap;
                padding: 4px 16px 4px 16px;
                color: #57daf1;
                transition: .5s ease;

                &:hover {
                    background-color: #d6d6d6;
                    color: #008ea7;
                    cursor: $cursor_pointer;
                }
            }
            &__radio {
                display: none;

                &:checked + .container-filter__content__select__label {
                    background-color: white;
                }
            }
        }
    }
    .hide-content {
        height: 0px;
        border-width: 0px;
    }
}