$cursor_default: url(../images/cursor.png), auto;
$cursor_pointer: url(../images/pointer.png), auto;

$color-btn-bg: #fff;
$color-btn-txt: #0057BB;
$color-btn-txt-hv: #e2ecff;
$color-background: #2b2b2b;
$color-border-backrgound: #575757;